/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; padding:30px ;}

.head-title{
    font-family: sans-serif;
    font-size: 35px !important;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #673ab7 ;
    margin: 0;
    margin-top: 20px;
  }